.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    background-color: #f9f9f9;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .card p {
    margin-bottom: 10px;
  }
  
  .card ul {
    padding-left: 20px;
  }
  
  .card ul li {
    margin-bottom: 5px;
  }
  
  h1{
    
  }